
.pink-background {
  background-color: #F8CDA2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-white-container {
  background-color: white;
  height: 20rem;
  width: 24rem;
  border-radius: 1rem;
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
