#root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: #F8CDA2 !important;
  border: 1px solid #F8CDA2 !important;
  color: #000000 !important;
  font-weight: 700 !important;
}

.btn-secondary {
  background-color: #FFFFFF !important;
  border: 1px solid #000000 !important;
  color: #000000 !important;
  font-weight: 700 !important;
}